pipeline/B2K Blob to DB.json
{
	"name": "B2K Blob to DB",
	"properties": {
		"activities": [
			{
				"name": "FixLenghtProcessFlow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set UPDATE_DATE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "B2K_FixLenghtProcessDataFlow",
						"type": "DataFlowReference",
						"parameters": {
							"UPDATE_DATE": {
								"value": "'@{variables('UPDATE_DATE')}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AzureIR-ManagedVNet",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set UPDATE_DATE",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "UPDATE_DATE",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'SE Asia Standard Time', 'yyyy-MM-ddTHH:mm:ss'),'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Insert B2K_MCRMRCH to SQL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "FixLenghtProcessFlow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "B2K_MCRMRCH to SQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Insert B2K_EDCTERM to SQL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "FixLenghtProcessFlow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "B2K_EDCTERM to SQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Insert B2K_EMSMRMST to SQL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "FixLenghtProcessFlow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "B2K_EMSMRMST to SQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"UPDATE_DATE": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SMC_B2K"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-15T07:06:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}