pipeline/MasterB2KPipeline_001.json
{
	"name": "MasterB2KPipeline_001",
	"properties": {
		"activities": [
			{
				"name": "Get File From SFTP",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFTP B2K to Blob",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Insert B2K To DB",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get File From SFTP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "B2K Blob to DB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Send Email Error 1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set PipelineStep 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipelineStep": {
							"value": "@variables('pipelineStep')",
							"type": "Expression"
						},
						"pipelineMstKey": {
							"value": "@variables('pipelineMstKey')",
							"type": "Expression"
						},
						"pipelineName": "MasterB2KPipeline_001",
						"pipelineError": {
							"value": "@variables('pipelineError')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set PipelineStep 1",
				"description": "Error key message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineError 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineStep",
					"value": "B2K_SFTP_FAILED"
				}
			},
			{
				"name": "Set PipelineStep 2",
				"description": "Error key message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineError 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineStep",
					"value": "B2K_DATA_FAILED"
				}
			},
			{
				"name": "Set PipelineStep 3",
				"description": "Error key message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineError 3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineStep",
					"value": "B2K_INTEGRATE_FAILED"
				}
			},
			{
				"name": "Update Merchant Profile",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Insert B2K To DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Update Merchant Profile",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Send Email Error 2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set PipelineStep 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipelineStep": {
							"value": "@variables('pipelineStep')",
							"type": "Expression"
						},
						"pipelineMstKey": {
							"value": "@variables('pipelineMstKey')",
							"type": "Expression"
						},
						"pipelineName": "MasterB2KPipeline_002",
						"pipelineError": {
							"value": "@variables('pipelineError')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Email Error 3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set PipelineStep 3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipelineStep": {
							"value": "@variables('pipelineStep')",
							"type": "Expression"
						},
						"pipelineMstKey": {
							"value": "@variables('pipelineMstKey')",
							"type": "Expression"
						},
						"pipelineName": "MasterB2KPipeline_003",
						"pipelineError": {
							"value": "@variables('pipelineError')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set PipelineError 1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get File From SFTP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineError",
					"value": {
						"value": "@activity('Get File From SFTP').error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set PipelineError 2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Insert B2K To DB",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineError",
					"value": {
						"value": "@activity('Insert B2K To DB').error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set PipelineError 3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Update Merchant Profile",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineError",
					"value": {
						"value": "@activity('Update Merchant Profile').error.Message",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"pipelineStep": {
				"type": "String"
			},
			"pipelineMstKey": {
				"type": "String",
				"defaultValue": "777c4388223e47e2a975478a043947dc"
			},
			"pipelineError": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SMC_B2K"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-13T09:46:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}