pipeline/MasterActivityPipeline.json
{
	"name": "MasterActivityPipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Merchant",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute SCB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MERCHANT_ACTIVITY_LOG",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute SCB",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SCB_ACTIVITY_LOG",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Send Email Error 2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set PipelineStep 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipelineStep": {
							"value": "@variables('pipelineStep')",
							"type": "Expression"
						},
						"pipelineMstKey": {
							"value": "@variables('pipelineMstKey')",
							"type": "Expression"
						},
						"pipelineName": "MasterActivityPipeline",
						"pipelineError": {
							"value": "@variables('pipelineError')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set PipelineStep 1",
				"description": "Error key message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineError 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineStep",
					"value": "ACHRIVELOG_DATA_FAILED"
				}
			},
			{
				"name": "Set PipelineStep 2",
				"description": "Error key message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineError 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineStep",
					"value": "ACHRIVELOG_DATA_FAILED"
				}
			},
			{
				"name": "Send Email Error 1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set PipelineStep 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipelineStep": {
							"value": "@variables('pipelineStep')",
							"type": "Expression"
						},
						"pipelineMstKey": {
							"value": "@variables('pipelineMstKey')",
							"type": "Expression"
						},
						"pipelineName": "MasterActivityPipeline",
						"pipelineError": {
							"value": "@variables('pipelineError')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set PipelineError 1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute SCB",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineError",
					"value": {
						"value": "@activity('Execute SCB').error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set PipelineError 2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Merchant",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineError",
					"value": {
						"value": "@activity('Execute Merchant').error.Message",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"pipelineStep": {
				"type": "String"
			},
			"pipelineMstKey": {
				"type": "String",
				"defaultValue": "4345c0af4223436bb8dce390b2b8aa10"
			},
			"pipelineError": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SMC_ArchiveLog"
		},
		"annotations": []
	}
}