pipeline/MasterMPSPipeline_001.json
{
	"name": "MasterMPSPipeline_001",
	"properties": {
		"activities": [
			{
				"name": "Get File From SFTP",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SFTP MPS to Blob",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Insert MPS To DB",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get File From SFTP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MPS Blob to DB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Send Email Error 1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set PipelineStep 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipelineStep": {
							"value": "@variables('pipelineStep')",
							"type": "Expression"
						},
						"pipelineMstKey": {
							"value": "@variables('pipelineMstKey')",
							"type": "Expression"
						},
						"pipelineName": "MasterMPSPipeline_001",
						"pipelineError": {
							"value": "@variables('pipelineError')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set PipelineStep 1",
				"description": "Error key message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineError 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineStep",
					"value": "MPS_SFTP_FAILED"
				}
			},
			{
				"name": "Set PipelineStep 2",
				"description": "Error key message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineError 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineStep",
					"value": "MPS_DATA_FAILED"
				}
			},
			{
				"name": "Set PipelineStep 3",
				"description": "Error key message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineError 3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineStep",
					"value": "MPS_INTEGRATE_FAILED"
				}
			},
			{
				"name": "Update Merchant Profile",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Insert MPS To DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Update Merchant Profile",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Send Email Error 2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set PipelineStep 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipelineStep": {
							"value": "@variables('pipelineStep')",
							"type": "Expression"
						},
						"pipelineMstKey": {
							"value": "@variables('pipelineMstKey')",
							"type": "Expression"
						},
						"pipelineName": "MasterMPSPipeline_002",
						"pipelineError": {
							"value": "@variables('pipelineError')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Email Error 3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set PipelineStep 3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipelineStep": {
							"value": "@variables('pipelineStep')",
							"type": "Expression"
						},
						"pipelineMstKey": {
							"value": "@variables('pipelineMstKey')",
							"type": "Expression"
						},
						"pipelineName": "MasterMPSPipeline_003",
						"pipelineError": {
							"value": "@variables('pipelineError')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set PipelineError 1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineSubjectDate 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineError",
					"value": {
						"value": "@activity('Get File From SFTP').error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set PipelineError 2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineSubjectDate 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineError",
					"value": {
						"value": "@activity('Insert MPS To DB').error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set PipelineError 3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineSubjectDate 3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineError",
					"value": {
						"value": "@activity('Update Merchant Profile').error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set PipelineSubjectDate 1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get File From SFTP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineSubjectDate",
					"value": {
						"value": "@formatDateTime(subtractFromTime(convertTimeZone(utcNow(), 'UTC', 'SE Asia Standard Time', 'yyyy-MM-ddTHH:mm:ss'),1,'Day'),'dd/MM/yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set PipelineSubjectDate 2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Insert MPS To DB",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineSubjectDate",
					"value": {
						"value": "@formatDateTime(subtractFromTime(convertTimeZone(utcNow(), 'UTC', 'SE Asia Standard Time', 'yyyy-MM-ddTHH:mm:ss'),1,'Day'),'dd/MM/yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set PipelineSubjectDate 3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Update Merchant Profile",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineSubjectDate",
					"value": {
						"value": "@formatDateTime(subtractFromTime(convertTimeZone(utcNow(), 'UTC', 'SE Asia Standard Time', 'yyyy-MM-ddTHH:mm:ss'),1,'Day'),'dd/MM/yyyy')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"pipelineStep": {
				"type": "String"
			},
			"pipelineMstKey": {
				"type": "String",
				"defaultValue": "6f215d46e6c64b58bea218b89094b01c"
			},
			"pipelineError": {
				"type": "String"
			},
			"pipelineSubjectDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SMC_MPS"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-13T09:46:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}