pipeline/MasterMPSPipeline_002.json
{
	"name": "MasterMPSPipeline_002",
	"properties": {
		"activities": [
			{
				"name": "Insert MPS To DB",
				"description": "Process collect MPS file from blob",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MPS Blob to DB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Send Email Error",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set PipelineStep 2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set PipelineStep 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipelineStep": {
							"value": "@variables('pipelineStep')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "updateMerchantProfile",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Insert MPS To DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateMerchantProfile]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set PipelineStep 1",
				"description": "Error key message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Insert MPS To DB",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineStep",
					"value": "SMC_MPS"
				}
			},
			{
				"name": "Set PipelineStep 2",
				"description": "Error key message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "updateMerchantProfile",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineStep",
					"value": "SMC_MPS"
				}
			}
		],
		"variables": {
			"pipelineStep": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SMC_MPS"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-13T09:46:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}