pipeline/MERCHANT_ACTIVITY_LOG.json
{
	"name": "MERCHANT_ACTIVITY_LOG",
	"properties": {
		"activities": [
			{
				"name": "Set Date Start",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "startDateMerchant",
					"value": {
						"value": "@formatDateTime(subtractFromTime(subtractFromTime(utcnow(),1,'Day'),6,'Month'),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Date End",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Date Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "endDateMerchant",
					"value": {
						"value": "@formatDateTime(subtractFromTime(utcnow(),6,'Month'),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Date End",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileNameMerchant",
					"value": {
						"value": "@formatDateTime(subtractFromTime(subtractFromTime(utcnow(),1,'Day'),6,'Month'),'dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Merchant Activity Log",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "MERCHANT_ACTIVITY_LOG_FLOW",
						"type": "DataFlowReference",
						"parameters": {
							"schemaName": "'dbo'",
							"tableName": "'MERCHANT_ACTIVITY_LOG'",
							"startDate": {
								"value": "'@{variables('startDateMerchant')}'",
								"type": "Expression"
							},
							"endDate": {
								"value": "'@{variables('endDateMerchant')}'",
								"type": "Expression"
							},
							"columnName": "'TRANSACTION_DATE'",
							"fileName": {
								"value": "'@{variables('fileNameMerchant')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"startDateMerchant": {
				"type": "String"
			},
			"endDateMerchant": {
				"type": "String"
			},
			"fileNameMerchant": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SMC_AchieveLog"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-16T03:36:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}