pipeline/MPS Blob to DB.json
{
	"name": "MPS Blob to DB",
	"properties": {
		"activities": [
			{
				"name": "FixLenghtProcessFlow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set UPDATE_DATE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "MPS_FixLenghtProcessDataFlow",
						"type": "DataFlowReference",
						"parameters": {
							"UPDATE_DATE": {
								"value": "'@{variables('UPDATE_DATE')}'",
								"type": "Expression"
							},
							"FileErrorDate": {
								"value": "'@{variables('FileErrorDate')}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "AzureIR-ManagedVNet",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set UPDATE_DATE",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set FileErrorDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "UPDATE_DATE",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'SE Asia Standard Time', 'yyyy-MM-ddTHH:mm:ss'),'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Insert MPS_PP_MerchantFile to SQL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "FixLenghtProcessFlow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MPS_PP_MerchantFile to SQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Insert MPS_PP_DebitAdvice to SQL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "FixLenghtProcessFlow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MPS_PP_DebitAdvice to SQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set FileErrorDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Truncate Table Temp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileErrorDate",
					"value": {
						"value": "@formatDateTime(subtractFromTime(getFutureTime(7, 'Hour', 'yyyy-MM-dd HH:mm:ss'),1,'Day'),'yyyyMMdd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Truncate Table Temp",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "truncate table MERCHANT_EMAIL_MPS_TEMP\ntruncate table MERCHANT_PROFILE_MPS_TEMP"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"UPDATE_DATE": {
				"type": "String"
			},
			"FileErrorDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SMC_MPS"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-13T09:46:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}