pipeline/Purge Activity Log.json
{
	"name": "Purge Activity Log",
	"properties": {
		"activities": [
			{
				"name": "purgeSCBActivityLog",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Date End",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[purgeSCBActivityLog]",
						"storedProcedureParameters": {
							"END_DATE": {
								"type": "String",
								"value": {
									"value": "@variables('END_DATE')",
									"type": "Expression"
								}
							},
							"START_DATE": {
								"type": "String",
								"value": {
									"value": "@variables('START_DATE')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SCB_ACTIVITY_LOG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set resultSCB",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "purgeSCBActivityLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "resultSCB",
					"value": {
						"value": "@if(equals(activity('purgeSCBActivityLog').output.firstRow.CODE, '200'), true, false)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set resultSCB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('resultSCB')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Return Result SCB",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "result",
										"value": {
											"type": "Expression",
											"content": "@activity('purgeSCBActivityLog').output.firstRow"
										}
									}
								],
								"setSystemVariable": true
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "purgeMerchantActivityLog",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set Date End 2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[purgeMerchantActivityLog]",
									"storedProcedureParameters": {
										"END_DATE": {
											"type": "String",
											"value": {
												"value": "@variables('END_DATE')",
												"type": "Expression"
											}
										},
										"START_DATE": {
											"type": "String",
											"value": {
												"value": "@variables('START_DATE')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "MERCHANT_ACTIVITY_LOG",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Return Result Merchant",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "purgeMerchantActivityLog",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "result",
										"value": {
											"type": "Expression",
											"content": "@activity('purgeMerchantActivityLog').output.firstRow"
										}
									}
								],
								"setSystemVariable": true
							}
						},
						{
							"name": "Set Date Start 2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "START_DATE",
								"value": {
									"value": "@formatDateTime(subtractFromTime(pipeline().parameters.jobDate,180,'Day'),'yyyy-MM-dd 00:00:00.000')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Date End 2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Date Start 2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "END_DATE",
								"value": {
									"value": "@formatDateTime(subtractFromTime(pipeline().parameters.jobDate,180,'Day'),'yyyy-MM-dd 23:59:59.999')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set Date Start",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "START_DATE",
					"value": {
						"value": "@formatDateTime(subtractFromTime(pipeline().parameters.jobDate,365,'Day'),'yyyy-MM-dd 00:00:00.000')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Date End",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Date Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "END_DATE",
					"value": {
						"value": "@formatDateTime(subtractFromTime(pipeline().parameters.jobDate,365,'Day'),'yyyy-MM-dd 23:59:59.999')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"jobDate": {
				"type": "string"
			}
		},
		"variables": {
			"resultSCB": {
				"type": "Boolean"
			},
			"resultMerchant": {
				"type": "Boolean"
			},
			"START_DATE": {
				"type": "String"
			},
			"END_DATE": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SMC_Store_Procedure"
		},
		"annotations": []
	}
}