pipeline/SCB_ACTIVITY_LOG.json
{
	"name": "SCB_ACTIVITY_LOG",
	"properties": {
		"activities": [
			{
				"name": "Scb Activity Log",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "SCB_ACTIVITY_LOG_FLOW",
						"type": "DataFlowReference",
						"parameters": {
							"schemaName": "'dbo'",
							"tableName": "'SCB_ACTIVITY_LOG'",
							"startDate": {
								"value": "'@{variables('startDateSCB')}'",
								"type": "Expression"
							},
							"endDate": {
								"value": "'@{variables('endDateSCB')}'",
								"type": "Expression"
							},
							"columnName": "'TRANSACTION_DATE'",
							"fileName": {
								"value": "'@{variables('fileNameSCB')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"sink1": {
								"year": "utcnow('yyyy')",
								"month": "utcnow('MM')",
								"date": "utcnow('dd')"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set Date Start",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "startDateSCB",
					"value": {
						"value": "@formatDateTime(subtractFromTime(subtractFromTime(utcnow(),1,'Day'),1,'Year'),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Date End",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Date Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "endDateSCB",
					"value": {
						"value": "@formatDateTime(subtractFromTime(utcnow(),1,'Year'),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Date End",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileNameSCB",
					"value": {
						"value": "@formatDateTime(subtractFromTime(subtractFromTime(utcnow(),1,'Day'),1,'Year'),'dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"startDateSCB": {
				"type": "String"
			},
			"endDateSCB": {
				"type": "String"
			},
			"fileNameSCB": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SMC_AchieveLog"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-16T03:36:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}