pipeline/Send Email.json
{
	"name": "Send Email",
	"properties": {
		"activities": [
			{
				"name": "Send Email Error",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Email Body",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(\n    variables('hostUrl'),\n    variables('serviceUrl'),\n\t'?api-version=',\n\tvariables('api-version'),\n\t'&sp=',\n\tvariables('sp'),\n\t'&sv=',\n\tvariables('sv'),\n\t'&sig=',\n\tvariables('sig')\n)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "@concat(\n\t'{\"to\": \"',\n\t'lalita.yaichom@stream.co.th,rungnueng.luangkamchorn@stream.co.th,bhurita.chayakunphakdi@scb.co.th',\n\t'\",\"subject\": \"',\n\tactivity('Get Email Body').output.firstRow.EMAIL_SUBJECT,\n\t' (',\n\tpipeline().parameters.pipelineName,\n\t') วันที่ ',\n\tvariables('subjectDate'),\n\t'\",\"html\": \"',\n\tactivity('Get Email Body').output.firstRow.EMAIL_BODY,\n\t'<html><body>',\n\t'<p>Resource Group : ',\n\tvariables('ResourceGroup'),\n\t'</p><p>Service : ',\n\tvariables('ResourceService'),\n\t'</p><p>ADF Pipeline : ',\n\tpipeline().parameters.pipelineName,\n\t'</p><br>',\n\tpipeline().parameters.pipelineError,\n\t'</body></html>',\n\t'\",\"mstUrl\": \"',\n\tvariables('mstUrl'),\n\tpipeline().parameters.pipelineMstKey,\n\tvariables('mstUrlKey'),\n\t'\",\"pipelineError\": \"',\n\tpipeline().parameters.pipelineError,\n\t'\",\"isSendMST\": true',\n\t'}'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://hfy-smc.vault.azure.net/secrets/smc-azure-lga-sig?api-version=7.0",
					"connectVia": {
						"referenceName": "shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"linkedServices": [
						{
							"referenceName": "KeyVaultADF",
							"type": "LinkedServiceReference"
						}
					],
					"authentication": {
						"resource": "https://vault.azure.net",
						"credential": {
							"referenceName": "AzureManageIdentity",
							"type": "CredentialReference"
						}
					}
				}
			},
			{
				"name": "Get Email Body",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Subject Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n\t'SELECT TOP 1 EMAIL_EVENT, EMAIL_SUBJECT, EMAIL_BODY, ACTIVE_STATUS, EMAIL_TO FROM EMAIL_TEMPLATE WHERE ACTIVE_STATUS = ''A'' AND EMAIL_EVENT = ''',\n\tpipeline().parameters.pipelineStep,\n\t''''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "EmailBodySql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set Subject Date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Error Log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "subjectDate",
					"value": {
						"value": "@formatDateTime(subtractFromTime(convertTimeZone(utcNow(), 'UTC', 'SE Asia Standard Time', 'yyyy-MM-ddTHH:mm:ss'),1,'Day'),'dd/MM/yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Error Message",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "errorMessage",
					"value": {
						"value": "@concat(\n\t'Resource Group : ',\n\tvariables('ResourceGroup'),\n\t'\\nService : ',\n\tvariables('ResourceService'),\n\t'\\nADF Pipeline : ',\n\tpipeline().parameters.pipelineName,\n\t'\\n\\n',\n\tpipeline().parameters.pipelineError\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Error Log",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Error Message",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "msg",
								"value": {
									"value": "@variables('errorMessage')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "LOG_ERROR_SEND_MAIL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "LOG_ERROR_SEND_MAIL_TEMP",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"pipelineStep": {
				"type": "string",
				"defaultValue": "Email Body"
			},
			"pipelineMstKey": {
				"type": "string",
				"defaultValue": "MicrosoftTeamKey"
			},
			"pipelineName": {
				"type": "string",
				"defaultValue": "Pipeline Name"
			},
			"pipelineError": {
				"type": "string",
				"defaultValue": "pipelineError"
			}
		},
		"variables": {
			"hostUrl": {
				"type": "String",
				"defaultValue": "https://scbsmcsealga001streamit.azurewebsites.net:443"
			},
			"serviceUrl": {
				"type": "String",
				"defaultValue": "/api/office365/triggers/manual/invoke"
			},
			"api-version": {
				"type": "String",
				"defaultValue": "2022-05-01"
			},
			"sp": {
				"type": "String",
				"defaultValue": "/triggers/manual/run"
			},
			"sv": {
				"type": "String",
				"defaultValue": "1.0"
			},
			"sig": {
				"type": "String",
				"defaultValue": "9r7UXcgcCnPEwWnoUJP8eF5N2dE7ANruDcJlfJNv61A"
			},
			"mstUrl": {
				"type": "String",
				"defaultValue": "https://scbcorp.webhook.office.com/webhookb2/6c31876e-5491-4377-8b01-5e565074bbe5@45202dee-4088-4e8c-8ebd-c01f56740e8f/IncomingWebhook/"
			},
			"mstUrlKey": {
				"type": "String",
				"defaultValue": "/21f0e5ae-977c-4a51-8fcf-d16ea01f2450"
			},
			"subjectDate": {
				"type": "String"
			},
			"ResourceGroup": {
				"type": "String",
				"defaultValue": "HFY-Merchant-Portal"
			},
			"ResourceService": {
				"type": "String",
				"defaultValue": "Merchant-Portal-Adf"
			},
			"errorMessage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SMC_Send_Error_Email"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-13T09:46:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}