pipeline/Send Email.json
{
	"name": "Send Email",
	"properties": {
		"activities": [
			{
				"name": "Send Email Error",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Key Vault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(\n    variables('hostUrl'),\n    variables('serviceUrl'),\n\t'?api-version=',\n\tvariables('api-version'),\n\t'&sp=',\n\tvariables('sp'),\n\t'&sv=',\n\tvariables('sv'),\n\t'&sig=',\n\tactivity('Get Key Vault').output.value\n)",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\"to\": \"rungnueng.luangkamchorn@stream.co.th\",\"subject\": \"subject test\",\"toname\": \"rungnueng\",\"html\": \"test body\", \"container\": \"knowledge-sharing-temp\",\"attachmentPath\": \"/1.png\",\"endpoint\": \"https://merchantportalblob.z23.web.core.windows.net/webcontent/\",\"isSendMST\": false}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://hfy-smc.vault.azure.net/secrets/smc-azure-lga-sig?api-version=7.0",
					"method": "GET",
					"authentication": {
						"resource": "https://vault.azure.net",
						"credential": {
							"referenceName": "AzureManageIdentity",
							"type": "CredentialReference"
						}
					}
				}
			}
		],
		"variables": {
			"hostUrl": {
				"type": "String",
				"defaultValue": "https://scbsmcsealga001streamit.azurewebsites.net:443"
			},
			"serviceUrl": {
				"type": "String",
				"defaultValue": "/api/office365/triggers/manual/invoke"
			},
			"api-version": {
				"type": "String",
				"defaultValue": "2022-05-01"
			},
			"sp": {
				"type": "String",
				"defaultValue": "/triggers/manual/run"
			},
			"sv": {
				"type": "String",
				"defaultValue": "1.0"
			}
		},
		"folder": {
			"name": "SMC_Send_Error_Email"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-13T09:46:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}