pipeline/Send Email.json
{
	"name": "Send Email",
	"properties": {
		"activities": [
			{
				"name": "Send Email Error",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Email Body",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(\n    variables('hostUrl'),\n    variables('serviceUrl'),\n\t'?api-version=',\n\tvariables('api-version'),\n\t'&sp=',\n\tvariables('sp'),\n\t'&sv=',\n\tvariables('sv'),\n\t'&sig=',\n\tvariables('sig')\n)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "@concat(\n\t'{\"to\": \"',\n\tactivity('Get Email Body').output.firstRow.EMAIL_TO,\n\t'\",\"subject\": \"',\n\tvariables('subjectEmail'),\n\t'\",\"html\": \"',\n\tvariables('errorMessage'),\n\t'\",\"mstUrl\": \"',\n\tvariables('mstUrl'),\n\tpipeline().parameters.pipelineMstKey,\n\tvariables('mstUrlKey'),\n\t'\",\"pipelineError\": \"',\n\tvariables('errorMessage'),\n\t'\",\"errorFolderName\":\"',\n\tvariables('errorFolderName'),\n\t'\",\"errorFileName\":\"',\n\tvariables('errorFileName'),\n\t'\",\"isSendMST\": true',\n\t'}'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Email Body",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Subject Email",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n\t'SELECT TOP 1 EMAIL_EVENT, EMAIL_SUBJECT, EMAIL_BODY, ACTIVE_STATUS, EMAIL_TO FROM EMAIL_TEMPLATE WHERE ACTIVE_STATUS = ''A'' AND EMAIL_EVENT = ''',\n\tpipeline().parameters.pipelineStep,\n\t''''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "EmailBodySql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set Error Message",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "errorMessage",
					"value": {
						"value": "@concat(\n\t'<html><body>',\n\t'Mail message from ADF',\n\t'<br><br>Resource Group : ',\n\tvariables('ResourceGroup'),\n\t'<br>Service Name : ',\n\tvariables('ResourceService'),\n\t'<br>Pipeline : ',\n\tpipeline().parameters.pipelineName,\n\t'<br>Date : ',\n\tpipeline().parameters.pipelineSubjectDate,\n\t'<br><br>Error : <br>',\n\treplace(pipeline().parameters.pipelineError, '\"', '\\\"'),\n\t'</html></body>'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Error File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Error Folder Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "errorFileName",
					"value": {
						"value": "@concat(\n    'error_log.txt'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Error Folder Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Error Message",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "errorFolderName",
					"value": {
						"value": "@concat(\n    '/log/error_pipeline_log/',\n    getFutureTime(7, 'Hour', 'yyyy'),\n    '/',\n    getFutureTime(7, 'Hour', 'MM'),\n    '/',\n\tformatDateTime(subtractFromTime(getFutureTime(7, 'Hour', 'yyyy-MM-dd HH:mm:ss'),1,'Day'),'dd'),\n    '/',\n    pipeline().parameters.pipelineName\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Subject Email",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Error File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "subjectEmail",
					"value": {
						"value": "@concat(\n\t'ADF Fail : ',\n\tvariables('ResourceGroup'),\n\t'/',\n\tvariables('ResourceService'),\n\t'/',\n\tpipeline().parameters.pipelineName,\n\t' ** ',\n\tpipeline().parameters.pipelineSubjectDate,\n\t' **'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pipelineStep": {
				"type": "string",
				"defaultValue": "Email Body"
			},
			"pipelineMstKey": {
				"type": "string",
				"defaultValue": "MicrosoftTeamKey"
			},
			"pipelineName": {
				"type": "string",
				"defaultValue": "Pipeline Name"
			},
			"pipelineError": {
				"type": "string",
				"defaultValue": "pipelineError"
			},
			"pipelineSubjectDate": {
				"type": "string",
				"defaultValue": "pipelineSubjectDate"
			}
		},
		"variables": {
			"hostUrl": {
				"type": "String",
				"defaultValue": "https://scbsmcsealga001streamit.azurewebsites.net:443"
			},
			"serviceUrl": {
				"type": "String",
				"defaultValue": "/api/office365/triggers/manual/invoke"
			},
			"api-version": {
				"type": "String",
				"defaultValue": "2022-05-01"
			},
			"sp": {
				"type": "String",
				"defaultValue": "/triggers/manual/run"
			},
			"sv": {
				"type": "String",
				"defaultValue": "1.0"
			},
			"sig": {
				"type": "String",
				"defaultValue": "N-ealrdpLyKhGotw_QyE8IajIu-ZwNbjQCi6nsOytIc"
			},
			"mstUrl": {
				"type": "String",
				"defaultValue": "https://scbcorp.webhook.office.com/webhookb2/6c31876e-5491-4377-8b01-5e565074bbe5@45202dee-4088-4e8c-8ebd-c01f56740e8f/IncomingWebhook/"
			},
			"mstUrlKey": {
				"type": "String",
				"defaultValue": "/21f0e5ae-977c-4a51-8fcf-d16ea01f2450"
			},
			"ResourceGroup": {
				"type": "String",
				"defaultValue": "HFY-Merchant-Portal"
			},
			"ResourceService": {
				"type": "String",
				"defaultValue": "Merchant-Portal-Adf"
			},
			"errorMessage": {
				"type": "String"
			},
			"errorFileName": {
				"type": "String"
			},
			"errorFolderName": {
				"type": "String"
			},
			"subjectEmail": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SMC_Send_Error_Email"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-13T09:46:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}