pipeline/SMC_MasterOAuthExpirePipeline.json
{
	"name": "SMC_MasterOAuthExpirePipeline",
	"properties": {
		"activities": [
			{
				"name": "Update OAuth Expire",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Job Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Update OAuth Expire",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"jobDate": {
							"value": "@variables('jobDate')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set PipelineStep 1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineError 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineStep",
					"value": "EXPIRE_JOBS_FAILED"
				}
			},
			{
				"name": "Send Email Error 1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set PipelineStep 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipelineStep": {
							"value": "@variables('pipelineStep')",
							"type": "Expression"
						},
						"pipelineMstKey": {
							"value": "@variables('pipelineMstKey')",
							"type": "Expression"
						},
						"pipelineName": "SMC_MasterOAuthExpirePipeline",
						"pipelineError": {
							"value": "@variables('pipelineError')",
							"type": "Expression"
						},
						"pipelineSubjectDate": {
							"value": "@variables('pipelineSubjectDate')",
							"type": "Expression"
						},
						"pipelineNameRerun": "SMC_MasterOAuthExpirePipeline"
					}
				}
			},
			{
				"name": "Set PipelineError 1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineSubjectDate 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineError",
					"value": {
						"value": "@activity('Update OAuth Expire').error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set PipelineSubjectDate 1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Update OAuth Expire",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineSubjectDate",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'SE Asia Standard Time', 'yyyy-MM-ddTHH:mm:ss'),'dd/MM/yyyy HH:mm')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Result Store",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Update OAuth Expire",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "resultCode",
					"value": {
						"value": "@if(equals(activity('Update OAuth Expire').output.pipelineReturnValue.result.CODE, '200'), true, false)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition resultCode",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set Result Store",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('resultCode')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set PipelineSubjectDate 2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineSubjectDate",
								"value": {
									"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'SE Asia Standard Time', 'yyyy-MM-ddTHH:mm:ss'),'dd/MM/yyyy HH:mm')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set PipelineError 2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set PipelineSubjectDate 2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineError",
								"value": {
									"value": "@concat(\n    'ERROR_PROCEDURE : ',\n    activity('Update OAuth Expire').output.pipelineReturnValue.result.ErrorProcedure,\n    '<br>ERROR_LINE : ',\n    activity('Update OAuth Expire').output.pipelineReturnValue.result.ErrorLine,\n    '<br>ERROR_MESSAGE : ',\n    activity('Update OAuth Expire').output.pipelineReturnValue.result.ErrorMessage\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set PipelineStep 2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set PipelineError 2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineStep",
								"value": "EXPIRE_JOBS_FAILED"
							}
						},
						{
							"name": "Send Email Error 2",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set PipelineStep 2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send Email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pipelineStep": {
										"value": "@variables('pipelineStep')",
										"type": "Expression"
									},
									"pipelineMstKey": {
										"value": "@variables('pipelineMstKey')",
										"type": "Expression"
									},
									"pipelineName": "SMC_MasterOAuthExpirePipeline",
									"pipelineError": {
										"value": "@variables('pipelineError')",
										"type": "Expression"
									},
									"pipelineSubjectDate": {
										"value": "@variables('pipelineSubjectDate')",
										"type": "Expression"
									},
									"pipelineNameRerun": "SMC_MasterOAuthExpirePipeline"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set Job Date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "jobDate",
					"value": {
						"value": "@convertTimeZone(utcnow(), 'UTC', 'SE Asia Standard Time', 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"pipelineStep": {
				"type": "String"
			},
			"pipelineMstKey": {
				"type": "String",
				"defaultValue": "70cd180d2eb6480b9553262b321c781b"
			},
			"pipelineError": {
				"type": "String"
			},
			"pipelineSubjectDate": {
				"type": "String"
			},
			"resultCode": {
				"type": "Boolean"
			},
			"jobDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SMC_Task_Expire"
		},
		"annotations": []
	}
}