pipeline/SMC_SendLogKafka.json
{
	"name": "SMC_SendLogKafka",
	"properties": {
		"activities": [
			{
				"name": "Send Email Error",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set PipelineStep 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipelineStep": {
							"value": "@variables('pipelineStep')",
							"type": "Expression"
						},
						"pipelineMstKey": {
							"value": "@variables('pipelineMstKey')",
							"type": "Expression"
						},
						"pipelineName": "SMC_SendLogKafka",
						"pipelineError": {
							"value": "@variables('pipelineError')",
							"type": "Expression"
						},
						"pipelineSubjectDate": {
							"value": "@variables('pipelineSubjectDate')",
							"type": "Expression"
						},
						"pipelineNameRerun": "SMC_SendLogKafka"
					}
				}
			},
			{
				"name": "Set PipelineStep 1",
				"description": "Error key message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineError 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineStep",
					"value": "PIILOG_DATA_FAILED"
				}
			},
			{
				"name": "Set PipelineError 1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineSubjectDate 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineError",
					"value": {
						"value": "@activity('Azure Function').error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set PipelineSubjectDate 1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Azure Function",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineSubjectDate",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'SE Asia Standard Time', 'yyyy-MM-ddTHH:mm:ss'),'dd/MM/yyyy HH:mm')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Azure Function",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(\n    variables('hostFunctionUrl'),\n    variables('hostFunctionName')\n)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AzureIR-ManagedVNet",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"value": "@concat(\n    '{\"jobUpdateDate\":\"',\n    formatDateTime(convertTimeZone(pipeline().TriggerTime, 'UTC', 'SE Asia Standard Time', 'yyyy-MM-ddTHH:mm:ss'),'yyyy-MM-dd HH:mm'),\n    '\"}'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"pipelineStep": {
				"type": "String"
			},
			"pipelineMstKey": {
				"type": "String",
				"defaultValue": "f26e08ca7ade4b8c974a99a81c4989f6"
			},
			"pipelineError": {
				"type": "String"
			},
			"pipelineSubjectDate": {
				"type": "String"
			},
			"hostFunctionUrl": {
				"type": "String",
				"defaultValue": "https://scbsmcseafunc001streamit2.azurewebsites.net"
			},
			"hostFunctionName": {
				"type": "String",
				"defaultValue": "/api/piilog"
			}
		},
		"folder": {
			"name": "SMC_PIILog"
		},
		"annotations": []
	}
}