pipeline/SMC_VM_START.json
{
	"name": "SMC_VM_START",
	"properties": {
		"activities": [
			{
				"name": "Check VM Status",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',variables('SubscriptionId'),'/resourceGroups/',variables('ResourceGroupName'),'/providers/Microsoft.Compute/virtualMachines/',variables('VMName'),'/InstanceView?api-version=2020-12-01')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"resource": "https://management.azure.com",
						"credential": {
							"referenceName": "AzureManageIdentity",
							"type": "CredentialReference"
						},
						"type": "UserAssignedManagedIdentity"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check VM Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Check VM Status').output.statuses[1].displayStatus, 'VM deallocated')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Start VM",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',variables('SubscriptionId'),'/resourceGroups/',variables('ResourceGroupName'),'/providers/Microsoft.Compute/virtualMachines/',variables('VMName'),'/',variables('Command'),'?api-version=2020-12-01')",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "{}",
									"type": "Expression"
								},
								"authentication": {
									"resource": "https://management.azure.com/",
									"credential": {
										"referenceName": "AzureManageIdentity",
										"type": "CredentialReference"
									},
									"type": "UserAssignedManagedIdentity"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"SubscriptionId": {
				"type": "String",
				"defaultValue": "fc603cd3-a62b-4072-9917-973c6cc4e0bf"
			},
			"ResourceGroupName": {
				"type": "String",
				"defaultValue": "HFY-Merchant-Portal"
			},
			"Region": {
				"type": "String",
				"defaultValue": "Southeast Asia"
			},
			"VMName": {
				"type": "String",
				"defaultValue": "vmshir"
			},
			"Command": {
				"type": "String",
				"defaultValue": "Start"
			}
		},
		"folder": {
			"name": "SMC_VM"
		},
		"annotations": []
	}
}