pipeline/SMC_MasterB2KPipeline_003.json
{
	"name": "SMC_MasterB2KPipeline_003",
	"properties": {
		"activities": [
			{
				"name": "Set PipelineStep 2",
				"description": "Error key message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineError 3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineStep",
					"value": "B2K_INTEGRATE_FAILED"
				}
			},
			{
				"name": "Update Merchant Profile",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Update Merchant Profile",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Send Email Error 3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set PipelineStep 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipelineStep": {
							"value": "@variables('pipelineStep')",
							"type": "Expression"
						},
						"pipelineMstKey": {
							"value": "@variables('pipelineMstKey')",
							"type": "Expression"
						},
						"pipelineName": "SMC_MasterB2KPipeline_003",
						"pipelineError": {
							"value": "@variables('pipelineError')",
							"type": "Expression"
						},
						"pipelineSubjectDate": {
							"value": "@variables('pipelineSubjectDate')",
							"type": "Expression"
						},
						"pipelineNameRerun": "SMC_MasterB2KPipeline_003"
					}
				}
			},
			{
				"name": "Set PipelineError 3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set PipelineSubjectDate 3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineError",
					"value": {
						"value": "@activity('Update Merchant Profile').error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set PipelineSubjectDate 3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Update Merchant Profile",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineSubjectDate",
					"value": {
						"value": "@formatDateTime(subtractFromTime(convertTimeZone(utcNow(), 'UTC', 'SE Asia Standard Time', 'yyyy-MM-ddTHH:mm:ss'),1,'Day'),'dd/MM/yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Result Store",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Update Merchant Profile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "resultCode",
					"value": {
						"value": "@if(equals(activity('Update Merchant Profile').output.pipelineReturnValue.result.CODE, '000'), true, false)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition resultCode",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set Result Store",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('resultCode')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set PipelineSubjectDate 4",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineSubjectDate",
								"value": {
									"value": "@formatDateTime(subtractFromTime(convertTimeZone(utcNow(), 'UTC', 'SE Asia Standard Time', 'yyyy-MM-ddTHH:mm:ss'),1,'Day'),'dd/MM/yyyy')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set PipelineError 4",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set PipelineSubjectDate 4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineError",
								"value": {
									"value": "@concat(\n    'ERROR_PROCEDURE : ',\n    activity('Update Merchant Profile').output.pipelineReturnValue.result.ErrorProcedure,\n    '<br>ERROR_LINE : ',\n    activity('Update Merchant Profile').output.pipelineReturnValue.result.ErrorLine,\n    '<br>ERROR_MESSAGE : ',\n    activity('Update Merchant Profile').output.pipelineReturnValue.result.ErrorMessage\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set PipelineStep 4",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set PipelineError 4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineStep",
								"value": "B2K_INTEGRATE_FAILED"
							}
						},
						{
							"name": "Send Email Error 4",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set PipelineStep 4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send Email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pipelineStep": {
										"value": "@variables('pipelineStep')",
										"type": "Expression"
									},
									"pipelineMstKey": {
										"value": "@variables('pipelineMstKey')",
										"type": "Expression"
									},
									"pipelineName": "SMC_MasterB2KPipeline_003",
									"pipelineError": {
										"value": "@variables('pipelineError')",
										"type": "Expression"
									},
									"pipelineSubjectDate": {
										"value": "@variables('pipelineSubjectDate')",
										"type": "Expression"
									},
									"pipelineNameRerun": "SMC_MasterB2KPipeline_003"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"pipelineStep": {
				"type": "String"
			},
			"pipelineMstKey": {
				"type": "String",
				"defaultValue": "777c4388223e47e2a975478a043947dc"
			},
			"pipelineError": {
				"type": "String"
			},
			"pipelineSubjectDate": {
				"type": "String"
			},
			"resultCode": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "SMC_B2K"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-13T09:46:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}