pipeline/Update Merchant Profile.json
{
	"name": "Update Merchant Profile",
	"properties": {
		"activities": [
			{
				"name": "updateMerchantProfile",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[updateMerchantProfile]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SMCSql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Return Result",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "updateMerchantProfile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "resultCode",
							"value": {
								"type": "Expression",
								"content": "@activity('updateMerchantProfile').output.firstRow.CODE"
							}
						},
						{
							"key": "resultErrorProcedure",
							"value": {
								"type": "Expression",
								"content": "@activity('updateMerchantProfile').output.firstRow.ErrorProcedure"
							}
						},
						{
							"key": "resultErrorMessage",
							"value": {
								"type": "Expression",
								"content": "@activity('updateMerchantProfile').output.firstRow.ErrorMessage"
							}
						},
						{
							"key": "resultErrorLine",
							"value": {
								"type": "Expression",
								"content": "@activity('updateMerchantProfile').output.firstRow.ErrorLine"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"folder": {
			"name": "SMC_Store_Procedure"
		},
		"annotations": []
	}
}