pipeline/Update Merchant Profile MPS.json
{
	"name": "Update Merchant Profile MPS",
	"properties": {
		"activities": [
			{
				"name": "updateMerchantProfileMPS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[updateMerchantProfileMPS]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ImportMerchantProfileSql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Return Result",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "updateMerchantProfileMPS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "result",
							"value": {
								"type": "Expression",
								"content": "@activity('updateMerchantProfileMPS').output.firstRow"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"folder": {
			"name": "SMC_Store_Procedure"
		},
		"annotations": []
	}
}