Merchant-Portal-Adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Merchant-Portal-Adf"
		},
		"AzureSqlDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDB'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=hfympcdb.database.windows.net;Initial Catalog=mpcdb"
		},
		"AzureFunctionKafKa_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunctionKafKa'"
		},
		"KeyVaultADF_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://hfy-smc.vault.azure.net/"
		},
		"az_blob_b2k_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/fc603cd3-a62b-4072-9917-973c6cc4e0bf/resourceGroups/HFY-Merchant-Portal/providers/Microsoft.Storage/storageAccounts/merchantportalblob"
		},
		"az_blob_b2k_properties_groupId": {
			"type": "string",
			"defaultValue": "blob"
		},
		"AzureFunctionKafKa_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://scbsmcseafunc001streamit2.azurewebsites.net"
		},
		"B2Kblob_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://merchantportalblob.blob.core.windows.net/"
		},
		"SmcFtpB2k_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "benseni.se.scb.co.th"
		},
		"SmcFtpB2k_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "smcadfusr"
		},
		"SmcFtpMps_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "GreenOak.se.scb.co.th"
		},
		"SmcFtpMps_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "se\\SMCUsrSit"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/shir')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureManageIdentity')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/fc603cd3-a62b-4072-9917-973c6cc4e0bf/resourcegroups/HFY-Merchant-Portal/providers/Microsoft.ManagedIdentity/userAssignedIdentities/SmcManageIdentity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDB_connectionString')]",
					"credential": {
						"referenceName": "AzureManageIdentity",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "shir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir')]",
				"[concat(variables('factoryId'), '/credentials/AzureManageIdentity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KeyVaultADF')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('KeyVaultADF_properties_typeProperties_baseUrl')]",
					"credential": {
						"referenceName": "AzureManageIdentity",
						"type": "CredentialReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/AzureManageIdentity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureIR-ManagedVNet')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "Southeast Asia",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/az_blob_b2k')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('az_blob_b2k_properties_privateLinkResourceId')]",
				"groupId": "[parameters('az_blob_b2k_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmailBodySql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "B2KMPS/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "EMAIL_EVENT",
						"type": "varchar"
					},
					{
						"name": "EMAIL_SUBJECT",
						"type": "varchar"
					},
					{
						"name": "EMAIL_BODY",
						"type": "varchar"
					},
					{
						"name": "ACTIVE_STATUS",
						"type": "varchar"
					},
					{
						"name": "EMAIL_TO",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "EMAIL_TEMPLATE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MERCHANT_ACTIVITY_LOG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Log/MERCHANT_ACTIVITY_LOG/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FUNCTION_CODE",
						"type": "varchar"
					},
					{
						"name": "LOG",
						"type": "varchar"
					},
					{
						"name": "LOG_TYPE",
						"type": "varchar"
					},
					{
						"name": "APPLICATION_NAME",
						"type": "varchar"
					},
					{
						"name": "EVENT",
						"type": "varchar"
					},
					{
						"name": "EVENT_TYPE",
						"type": "varchar"
					},
					{
						"name": "URL",
						"type": "varchar"
					},
					{
						"name": "MERCHANT_CENTER_ID",
						"type": "varchar"
					},
					{
						"name": "SOURCE_ADDRESS",
						"type": "varchar"
					},
					{
						"name": "SOURCE_HOSTNAME",
						"type": "varchar"
					},
					{
						"name": "SOURCE_USERNAME",
						"type": "varchar"
					},
					{
						"name": "SOURCE_OBJECT",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_ADDRESS",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_HOSTNAME",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_USERNAME",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_OBJECT",
						"type": "varchar"
					},
					{
						"name": "CHANGE_FROM",
						"type": "text"
					},
					{
						"name": "CHANGE_TO",
						"type": "text"
					},
					{
						"name": "SEARCH_CRITERIA",
						"type": "text"
					},
					{
						"name": "RESULT_STATUS",
						"type": "varchar"
					},
					{
						"name": "MESSAGE",
						"type": "text"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MERCHANT_ACTIVITY_LOG"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MerchantEmailTempSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "B2KMPS/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BILLER_MERCHANT_ID",
						"type": "varchar"
					},
					{
						"name": "EMAIL_1",
						"type": "varchar"
					},
					{
						"name": "EMAIL_2",
						"type": "varchar"
					},
					{
						"name": "EMAIL_3",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MERCHANT_EMAIL_TEMP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MerchantProfileTempSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "B2KMPS/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BILLER_MERCHANT_ID",
						"type": "varchar"
					},
					{
						"name": "ACCOUNT_ID",
						"type": "varchar"
					},
					{
						"name": "TAX_ID",
						"type": "varchar"
					},
					{
						"name": "NAME_TH",
						"type": "varchar"
					},
					{
						"name": "NAME_EN",
						"type": "varchar"
					},
					{
						"name": "COMPANY_NAME_TH",
						"type": "varchar"
					},
					{
						"name": "COMPANY_NAME_EN",
						"type": "varchar"
					},
					{
						"name": "ACTIVE_STATUS",
						"type": "varchar"
					},
					{
						"name": "UPDATE_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "BUSINESS_TYPE",
						"type": "varchar"
					},
					{
						"name": "REF1_TH",
						"type": "varchar"
					},
					{
						"name": "REF1_EN",
						"type": "varchar"
					},
					{
						"name": "REF3",
						"type": "varchar"
					},
					{
						"name": "SOURCE",
						"type": "varchar"
					},
					{
						"name": "REF2_TH",
						"type": "varchar"
					},
					{
						"name": "REF2_EN",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MERCHANT_PROFILE_TEMP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCB_ACTIVITY_LOG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Log/SCB_ACTIVITY_LOG/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FUNCTION_CODE",
						"type": "varchar"
					},
					{
						"name": "LOG",
						"type": "varchar"
					},
					{
						"name": "LOG_TYPE",
						"type": "varchar"
					},
					{
						"name": "APPLICATION_NAME",
						"type": "varchar"
					},
					{
						"name": "EVENT",
						"type": "varchar"
					},
					{
						"name": "EVENT_TYPE",
						"type": "varchar"
					},
					{
						"name": "URL",
						"type": "varchar"
					},
					{
						"name": "MERCHANT_CENTER_ID",
						"type": "varchar"
					},
					{
						"name": "SOURCE_ADDRESS",
						"type": "varchar"
					},
					{
						"name": "SOURCE_HOSTNAME",
						"type": "varchar"
					},
					{
						"name": "SOURCE_USERNAME",
						"type": "varchar"
					},
					{
						"name": "SOURCE_OBJECT",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_ADDRESS",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_HOSTNAME",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_USERNAME",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_OBJECT",
						"type": "varchar"
					},
					{
						"name": "CHANGE_FROM",
						"type": "text"
					},
					{
						"name": "CHANGE_TO",
						"type": "text"
					},
					{
						"name": "SEARCH_CRITERIA",
						"type": "text"
					},
					{
						"name": "RESULT_STATUS",
						"type": "varchar"
					},
					{
						"name": "MESSAGE",
						"type": "text"
					},
					{
						"name": "UPDATE_PII_LOG_STATUS",
						"type": "varchar"
					},
					{
						"name": "UPDATE_PII_LOG_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SCB_ACTIVITY_LOG"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SMCSql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "B2KMPS/B2K/SMC_IMPORT_MERCHANT_PROFILE"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "MID_L11",
						"type": "varchar"
					},
					{
						"name": "MID_L11_DESC",
						"type": "varchar"
					},
					{
						"name": "REMARK",
						"type": "varchar"
					},
					{
						"name": "UPDATE_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SMC_IMPORT_MERCHANT_PROFILE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TerminalProfileTempSql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "B2KMPS/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TERMINAL_ID",
						"type": "varchar"
					},
					{
						"name": "TERMINAL_NAME_TH",
						"type": "varchar"
					},
					{
						"name": "TERMINAL_NAME_EN",
						"type": "varchar"
					},
					{
						"name": "MERCHANT_ID",
						"type": "varchar"
					},
					{
						"name": "ACTIVE_STATUS",
						"type": "varchar"
					},
					{
						"name": "UPDATE_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TERMINAL_PROFILE_TEMP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunctionKafKa')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFunctionKafKa_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunctionKafKa_functionKey')]"
					},
					"authentication": "Anonymous"
				},
				"connectVia": {
					"referenceName": "AzureIR-ManagedVNet",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AzureIR-ManagedVNet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/B2Kblob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('B2Kblob_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2",
					"credential": {
						"referenceName": "AzureManageIdentity",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AzureIR-ManagedVNet",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AzureIR-ManagedVNet')]",
				"[concat(variables('factoryId'), '/credentials/AzureManageIdentity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SmcFtpB2k')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FtpServer",
				"typeProperties": {
					"host": "[parameters('SmcFtpB2k_properties_typeProperties_host')]",
					"port": "991",
					"enableSsl": true,
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('SmcFtpB2k_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KeyVaultADF",
							"type": "LinkedServiceReference"
						},
						"secretName": "smc-b2k-sftp-password"
					}
				},
				"connectVia": {
					"referenceName": "shir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir')]",
				"[concat(variables('factoryId'), '/linkedServices/KeyVaultADF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SmcFtpMps')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FtpServer",
				"typeProperties": {
					"host": "[parameters('SmcFtpMps_properties_typeProperties_host')]",
					"port": "991",
					"enableSsl": true,
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('SmcFtpMps_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KeyVaultADF",
							"type": "LinkedServiceReference"
						},
						"secretName": "smc-msp-sftp-password"
					}
				},
				"connectVia": {
					"referenceName": "shir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir')]",
				"[concat(variables('factoryId'), '/linkedServices/KeyVaultADF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Send Email')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send Email Error",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get Email Body",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat(\n    variables('hostUrl'),\n    variables('serviceUrl'),\n\t'?api-version=',\n\tvariables('api-version'),\n\t'&sp=',\n\tvariables('sp'),\n\t'&sv=',\n\tvariables('sv'),\n\t'&sig=',\n\tvariables('sig')\n)",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "shir",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "@concat(\n\t'{\"to\": \"',\n\tactivity('Get Email Body').output.firstRow.EMAIL_TO,\n\t'\",\"subject\": \"',\n\tvariables('subjectEmail'),\n\t'\",\"html\": \"',\n\tvariables('errorMessage'),\n\t'\",\"mstUrl\": \"',\n\tvariables('mstUrl'),\n\tpipeline().parameters.pipelineMstKey,\n\tvariables('mstUrlKey'),\n\t'\",\"pipelineError\": \"',\n\tvariables('errorMessage'),\n\t'\",\"errorFolderName\":\"',\n\tvariables('errorFolderName'),\n\t'\",\"errorFileName\":\"',\n\tvariables('errorFileName'),\n\t'\",\"isSendMST\": true',\n\t'}'\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get Email Body",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set Subject Email",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n\t'SELECT TOP 1 EMAIL_EVENT, EMAIL_SUBJECT, EMAIL_BODY, ACTIVE_STATUS, EMAIL_TO FROM EMAIL_TEMPLATE WHERE ACTIVE_STATUS = ''A'' AND EMAIL_EVENT = ''',\n\tpipeline().parameters.pipelineStep,\n\t''''\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "EmailBodySql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set Error Message",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "errorMessage",
							"value": {
								"value": "@concat(\n\t'<html><body>',\n\t'Mail message from ADF',\n\t'<br><br>Resource Group : ',\n\tvariables('ResourceGroup'),\n\t'<br>Service Name : ',\n\tvariables('ResourceService'),\n\t'<br>Pipeline : ',\n\tpipeline().parameters.pipelineName,\n\t'<br>Date : ',\n\tpipeline().parameters.pipelineSubjectDate,\n\t'<br><br>Error : <br>',\n\treplace(pipeline().parameters.pipelineError, '\"', '\\\"')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Error File Name",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Error Folder Name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "errorFileName",
							"value": {
								"value": "@concat(\n    'error_log.txt'\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Error Folder Name",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Error Message",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "errorFolderName",
							"value": {
								"value": "@concat(\n    '/log/error_pipeline_log/',\n    getFutureTime(7, 'Hour', 'yyyy'),\n    '/',\n    getFutureTime(7, 'Hour', 'MM'),\n    '/',\n\tformatDateTime(subtractFromTime(getFutureTime(7, 'Hour', 'yyyy-MM-dd HH:mm:ss'),1,'Day'),'dd'),\n    '/',\n    pipeline().parameters.pipelineName\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Subject Email",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Error File Name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "subjectEmail",
							"value": {
								"value": "@concat(\n\t'ADF Fail : ',\n\tvariables('ResourceGroup'),\n\t'/',\n\tvariables('ResourceService'),\n\t'/',\n\tpipeline().parameters.pipelineName,\n\t' ** ',\n\tpipeline().parameters.pipelineSubjectDate,\n\t' **'\n)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pipelineStep": {
						"type": "string",
						"defaultValue": "Email Body"
					},
					"pipelineMstKey": {
						"type": "string",
						"defaultValue": "MicrosoftTeamKey"
					},
					"pipelineName": {
						"type": "string",
						"defaultValue": "Pipeline Name"
					},
					"pipelineError": {
						"type": "string",
						"defaultValue": "pipelineError"
					},
					"pipelineSubjectDate": {
						"type": "string",
						"defaultValue": "pipelineSubjectDate"
					}
				},
				"variables": {
					"hostUrl": {
						"type": "String",
						"defaultValue": "https://scbsmcsealga001streamit.azurewebsites.net:443"
					},
					"serviceUrl": {
						"type": "String",
						"defaultValue": "/api/office365/triggers/manual/invoke"
					},
					"api-version": {
						"type": "String",
						"defaultValue": "2022-05-01"
					},
					"sp": {
						"type": "String",
						"defaultValue": "/triggers/manual/run"
					},
					"sv": {
						"type": "String",
						"defaultValue": "1.0"
					},
					"sig": {
						"type": "String",
						"defaultValue": "N-ealrdpLyKhGotw_QyE8IajIu-ZwNbjQCi6nsOytIc"
					},
					"mstUrl": {
						"type": "String",
						"defaultValue": "https://scbcorp.webhook.office.com/webhookb2/6c31876e-5491-4377-8b01-5e565074bbe5@45202dee-4088-4e8c-8ebd-c01f56740e8f/IncomingWebhook/"
					},
					"mstUrlKey": {
						"type": "String",
						"defaultValue": "/21f0e5ae-977c-4a51-8fcf-d16ea01f2450"
					},
					"ResourceGroup": {
						"type": "String",
						"defaultValue": "HFY-Merchant-Portal"
					},
					"ResourceService": {
						"type": "String",
						"defaultValue": "Merchant-Portal-Adf"
					},
					"errorMessage": {
						"type": "String"
					},
					"errorFileName": {
						"type": "String"
					},
					"errorFolderName": {
						"type": "String"
					},
					"subjectEmail": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SMC_Send_Error_Email"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-13T09:46:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir')]",
				"[concat(variables('factoryId'), '/datasets/EmailBodySql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Update All Task Expire')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "updateAllTaskExpire",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[updateAllTaskExpired]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SMCSql",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Return Result",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "updateAllTaskExpire",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "result",
									"value": {
										"type": "Expression",
										"content": "@activity('updateAllTaskExpire').output.firstRow"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SMC_Store_Procedure"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SMCSql')]"
			]
		}
	]
}