Merchant-Portal-Adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Merchant-Portal-Adf"
		},
		"AzureSqlDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDB'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=hfympcdb.database.windows.net;Initial Catalog=mpcdb"
		},
		"KeyVaultADF_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://hfy-smc.vault.azure.net/"
		},
		"az_blob_b2k_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/fc603cd3-a62b-4072-9917-973c6cc4e0bf/resourceGroups/HFY-Merchant-Portal/providers/Microsoft.Storage/storageAccounts/merchantportalblob"
		},
		"az_blob_b2k_properties_groupId": {
			"type": "string",
			"defaultValue": "blob"
		},
		"az_blob_datalake_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/fc603cd3-a62b-4072-9917-973c6cc4e0bf/resourceGroups/HFY-Merchant-Portal/providers/Microsoft.Storage/storageAccounts/merchantportalblob"
		},
		"az_blob_datalake_properties_groupId": {
			"type": "string",
			"defaultValue": "dfs"
		},
		"az_function_piilog_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/fc603cd3-a62b-4072-9917-973c6cc4e0bf/resourceGroups/HFY-Merchant-Portal/providers/Microsoft.Web/sites/scbsmcseafunc001streamit2"
		},
		"az_function_piilog_properties_groupId": {
			"type": "string",
			"defaultValue": "sites"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/shir')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureManageIdentity')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/fc603cd3-a62b-4072-9917-973c6cc4e0bf/resourcegroups/HFY-Merchant-Portal/providers/Microsoft.ManagedIdentity/userAssignedIdentities/SmcManageIdentity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SMC_VM_START')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Check VM Status",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',variables('SubscriptionId'),'/resourceGroups/',variables('ResourceGroupName'),'/providers/Microsoft.Compute/virtualMachines/',variables('VMName'),'/InstanceView?api-version=2020-12-01')",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"resource": "https://management.azure.com",
								"credential": {
									"referenceName": "AzureManageIdentity",
									"type": "CredentialReference"
								},
								"type": "UserAssignedManagedIdentity"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Check VM Status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Check VM Status').output.statuses[1].displayStatus, 'VM deallocated')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Start VM",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/',variables('SubscriptionId'),'/resourceGroups/',variables('ResourceGroupName'),'/providers/Microsoft.Compute/virtualMachines/',variables('VMName'),'/',variables('Command'),'?api-version=2020-12-01')",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "{}",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00",
										"authentication": {
											"resource": "https://management.azure.com/",
											"credential": {
												"referenceName": "AzureManageIdentity",
												"type": "CredentialReference"
											},
											"type": "UserAssignedManagedIdentity"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"SubscriptionId": {
						"type": "String",
						"defaultValue": "fc603cd3-a62b-4072-9917-973c6cc4e0bf"
					},
					"ResourceGroupName": {
						"type": "String",
						"defaultValue": "HFY-Merchant-Portal"
					},
					"Region": {
						"type": "String",
						"defaultValue": "Southeast Asia"
					},
					"VMName": {
						"type": "String",
						"defaultValue": "vmshir"
					},
					"Command": {
						"type": "String",
						"defaultValue": "Start"
					}
				},
				"folder": {
					"name": "SMC_VM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/AzureManageIdentity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SMC_VM_STOP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Check VM Status",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',variables('SubscriptionId'),'/resourceGroups/',variables('ResourceGroupName'),'/providers/Microsoft.Compute/virtualMachines/',variables('VMName'),'/InstanceView?api-version=2020-12-01')",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"resource": "https://management.azure.com",
								"credential": {
									"referenceName": "AzureManageIdentity",
									"type": "CredentialReference"
								},
								"type": "UserAssignedManagedIdentity"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Check VM Status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Check VM Status').output.statuses[1].displayStatus, 'VM running')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Stop VM",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/',variables('SubscriptionId'),'/resourceGroups/',variables('ResourceGroupName'),'/providers/Microsoft.Compute/virtualMachines/',variables('VMName'),'/',variables('Command'),'?api-version=2020-12-01')",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "{}",
											"type": "Expression"
										},
										"httpRequestTimeout": "00:10:00",
										"authentication": {
											"resource": "https://management.azure.com/",
											"credential": {
												"referenceName": "AzureManageIdentity",
												"type": "CredentialReference"
											},
											"type": "UserAssignedManagedIdentity"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"SubscriptionId": {
						"type": "String",
						"defaultValue": "fc603cd3-a62b-4072-9917-973c6cc4e0bf"
					},
					"ResourceGroupName": {
						"type": "String",
						"defaultValue": "HFY-Merchant-Portal"
					},
					"Region": {
						"type": "String",
						"defaultValue": "Southeast Asia"
					},
					"VMName": {
						"type": "String",
						"defaultValue": "vmshir"
					},
					"Command": {
						"type": "String",
						"defaultValue": "Deallocate"
					}
				},
				"folder": {
					"name": "SMC_VM"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/AzureManageIdentity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDB_connectionString')]",
					"credential": {
						"referenceName": "AzureManageIdentity",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "shir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir')]",
				"[concat(variables('factoryId'), '/credentials/AzureManageIdentity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KeyVaultADF')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('KeyVaultADF_properties_typeProperties_baseUrl')]",
					"credential": {
						"referenceName": "AzureManageIdentity",
						"type": "CredentialReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/AzureManageIdentity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureIR-ManagedVNet')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "Southeast Asia",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/az_blob_b2k')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('az_blob_b2k_properties_privateLinkResourceId')]",
				"groupId": "[parameters('az_blob_b2k_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/az_blob_datalake')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('az_blob_datalake_properties_privateLinkResourceId')]",
				"groupId": "[parameters('az_blob_datalake_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/az_function_piilog')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('az_function_piilog_properties_privateLinkResourceId')]",
				"groupId": "[parameters('az_function_piilog_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Test_Connection')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Azure Function Test",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat(\n    variables('hostFunctionUrl'),\n    variables('hostFunctionName'),\n    variables('hostFunctionParam')\n)",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AzureIR-ManagedVNet",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\"jobUpdateDate\":\"\"}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"hostFunctionUrl": {
						"type": "String",
						"defaultValue": "https://scbsmcseafunc001streamit2.azurewebsites.net"
					},
					"hostFunctionName": {
						"type": "String",
						"defaultValue": "/api/piilog"
					},
					"hostFunctionParam": {
						"type": "String",
						"defaultValue": "?testingdeploy=testingdeploy"
					}
				},
				"folder": {
					"name": "SMC_Test_Connection"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AzureIR-ManagedVNet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmailBodySql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "B2KMPS/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "EMAIL_EVENT",
						"type": "varchar"
					},
					{
						"name": "EMAIL_SUBJECT",
						"type": "varchar"
					},
					{
						"name": "EMAIL_BODY",
						"type": "varchar"
					},
					{
						"name": "ACTIVE_STATUS",
						"type": "varchar"
					},
					{
						"name": "EMAIL_TO",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "EMAIL_TEMPLATE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ImportMerchantProfileSql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "B2KMPS/B2K/SMC_IMPORT_MERCHANT_PROFILE"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "MID_L11",
						"type": "varchar"
					},
					{
						"name": "MID_L11_DESC",
						"type": "varchar"
					},
					{
						"name": "REMARK",
						"type": "varchar"
					},
					{
						"name": "UPDATE_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SMC_IMPORT_MERCHANT_PROFILE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MERCHANT_ACTIVITY_LOG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Log/MERCHANT_ACTIVITY_LOG/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FUNCTION_CODE",
						"type": "varchar"
					},
					{
						"name": "LOG",
						"type": "varchar"
					},
					{
						"name": "LOG_TYPE",
						"type": "varchar"
					},
					{
						"name": "APPLICATION_NAME",
						"type": "varchar"
					},
					{
						"name": "EVENT",
						"type": "varchar"
					},
					{
						"name": "EVENT_TYPE",
						"type": "varchar"
					},
					{
						"name": "URL",
						"type": "varchar"
					},
					{
						"name": "MERCHANT_CENTER_ID",
						"type": "varchar"
					},
					{
						"name": "SOURCE_ADDRESS",
						"type": "varchar"
					},
					{
						"name": "SOURCE_HOSTNAME",
						"type": "varchar"
					},
					{
						"name": "SOURCE_USERNAME",
						"type": "varchar"
					},
					{
						"name": "SOURCE_OBJECT",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_ADDRESS",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_HOSTNAME",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_USERNAME",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_OBJECT",
						"type": "varchar"
					},
					{
						"name": "CHANGE_FROM",
						"type": "text"
					},
					{
						"name": "CHANGE_TO",
						"type": "text"
					},
					{
						"name": "SEARCH_CRITERIA",
						"type": "text"
					},
					{
						"name": "RESULT_STATUS",
						"type": "varchar"
					},
					{
						"name": "MESSAGE",
						"type": "text"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MERCHANT_ACTIVITY_LOG"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MerchantEmailB2KTempSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "B2KMPS/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BILLER_MERCHANT_ID",
						"type": "varchar"
					},
					{
						"name": "EMAIL_1",
						"type": "varchar"
					},
					{
						"name": "EMAIL_2",
						"type": "varchar"
					},
					{
						"name": "EMAIL_3",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MERCHANT_EMAIL_B2K_TEMP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MerchantEmailMPSTempSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "B2KMPS/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "MERCHANT_EMAIL_MPS_TEMP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MerchantProfileB2KTempSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "B2KMPS/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BILLER_MERCHANT_ID",
						"type": "varchar"
					},
					{
						"name": "ACCOUNT_ID",
						"type": "varchar"
					},
					{
						"name": "TAX_ID",
						"type": "varchar"
					},
					{
						"name": "NAME_TH",
						"type": "varchar"
					},
					{
						"name": "NAME_EN",
						"type": "varchar"
					},
					{
						"name": "COMPANY_NAME_TH",
						"type": "varchar"
					},
					{
						"name": "COMPANY_NAME_EN",
						"type": "varchar"
					},
					{
						"name": "ACTIVE_STATUS",
						"type": "varchar"
					},
					{
						"name": "UPDATE_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "BUSINESS_TYPE",
						"type": "varchar"
					},
					{
						"name": "REF1_TH",
						"type": "varchar"
					},
					{
						"name": "REF1_EN",
						"type": "varchar"
					},
					{
						"name": "REF3",
						"type": "varchar"
					},
					{
						"name": "SOURCE",
						"type": "varchar"
					},
					{
						"name": "REF2_TH",
						"type": "varchar"
					},
					{
						"name": "REF2_EN",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MERCHANT_PROFILE_B2K_TEMP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MerchantProfileMPSTempSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "B2KMPS/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "MERCHANT_PROFILE_MPS_TEMP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCB_ACTIVITY_LOG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Log/SCB_ACTIVITY_LOG/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FUNCTION_CODE",
						"type": "varchar"
					},
					{
						"name": "LOG",
						"type": "varchar"
					},
					{
						"name": "LOG_TYPE",
						"type": "varchar"
					},
					{
						"name": "APPLICATION_NAME",
						"type": "varchar"
					},
					{
						"name": "EVENT",
						"type": "varchar"
					},
					{
						"name": "EVENT_TYPE",
						"type": "varchar"
					},
					{
						"name": "URL",
						"type": "varchar"
					},
					{
						"name": "MERCHANT_CENTER_ID",
						"type": "varchar"
					},
					{
						"name": "SOURCE_ADDRESS",
						"type": "varchar"
					},
					{
						"name": "SOURCE_HOSTNAME",
						"type": "varchar"
					},
					{
						"name": "SOURCE_USERNAME",
						"type": "varchar"
					},
					{
						"name": "SOURCE_OBJECT",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_ADDRESS",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_HOSTNAME",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_USERNAME",
						"type": "varchar"
					},
					{
						"name": "DESTINATION_OBJECT",
						"type": "varchar"
					},
					{
						"name": "CHANGE_FROM",
						"type": "text"
					},
					{
						"name": "CHANGE_TO",
						"type": "text"
					},
					{
						"name": "SEARCH_CRITERIA",
						"type": "text"
					},
					{
						"name": "RESULT_STATUS",
						"type": "varchar"
					},
					{
						"name": "MESSAGE",
						"type": "text"
					},
					{
						"name": "UPDATE_PII_LOG_STATUS",
						"type": "varchar"
					},
					{
						"name": "UPDATE_PII_LOG_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SCB_ACTIVITY_LOG"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDB')]"
			]
		}
	]
}